@import url("https: //fonts.googleapis.com/css2?family=Abel&family=Manrope:wght@200..800&display=swap");

:root {
    --primary-color: #023402;
    --secondary-color: #E1B500 ;
    --accent-color: #DCC670;
    --extra-color: #404C93;
    --text-dark: #ffffff;
    --text-light: #020202;
    --primary-font: "Manrope", Helvetica, sans-serif;
    --secondary-font: "Abel", sans-serif;
}

#logo {
    size: 100px;
}

header{
    justify-content: space-between;
    color: var(--primary-color);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    display: grid;

}

#logo{
    max-width: 150%;
    padding: 2%;
}

body{
    color: var(--primary-color);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    display: grid;
}

h1, h2 {
    font-family: var(--primary-font);
    color: var(--text-dark);
}

p{
    font-family: var(--secondary-font);
    color: var(--text-dark);
}



